<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dnk.punisher">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/no_avatar"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <activity android:name=".activity.StartActivity"
            android:theme="@style/AppThemeWithoutDrawer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.TutorialActivity"
            android:theme="@style/AppThemeWithoutDrawer" />
        <activity android:name=".activity.LoginActivity"
            android:theme="@style/AppThemeWithoutDrawer" />
        <activity android:name=".activity.MainActivity"
            android:label="@string/title_activity_main" />
        <activity android:name=".activity.ViolationActivity"
            android:label="@string/title_activity_bribery"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dnk.punisher.activity.MainActivity" />
        </activity>
        <activity android:name=".activity.ListOfRequestsActivity" />
        <activity android:name=".activity.NewsActivity" />
        <activity android:name=".activity.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName=".activity.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dnk.punisher.activity.LoginActivity" />
        </activity>
        <activity android:name=".activity.ForgotPasswordActivity"
            android:parentActivityName=".activity.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dnk.punisher.activity.LoginActivity" />
        </activity>
        <activity android:name=".activity.ForgotPassword2Activity"
            android:label="@string/title_activity_forgot_password2"
            android:parentActivityName=".activity.ForgotPasswordActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dnk.punisher.activity.ForgotPasswordActivity" />
        </activity>
        <activity android:name=".activity.ShowMediaActivity"
            android:label="@string/title_activity_show_photo"/>
    </application>

</manifest>